/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.euro {
  border-color: #fdcb0b;
  color: #fdcb0b
}

.euro:hover {
  background: #fdcb0b;
  color: white;
}

.usd {
  border-color: #bf0a30;
  color: #bf0a30
}

.usd:hover {
  background: #bf0a30;
  color: white;
}

.aud {
  border-color: #00008b;
  color: #00008b
}

.aud:hover {
  background: #00008b;
  color: white;
}

.reset {
  border-color: #e7e7e7;
  color: black;
}

.reset:hover {
  background: #e7e7e7;
}
